<section class="mt-3 max-w-full">
    <div *ngIf="onErrorMessage$ | async as errorMessage" role="alert"
        class="rounded border-s-4 border-red-500 bg-red-50 p-4">
        <strong class="block font-medium text-red-800"> Something went wrong </strong>

        <p class="mt-2 text-sm text-red-700">
            {{errorMessage}}
        </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 items-center justify-around mt-3">
        <div class="flex flex-row items-center justify-between gap-4 w-full">
            <label for="Username" class="block text-sm font-medium text-gray-700"> Username:
            </label>

            <input type="text" id="Username" name="username" placeholder="Enter username"
                class="w-full p-2 rounded-md border border-gray-200 bg-white text-sm w-64  shadow-sm"
                formControlName="username" required=true />

            <p *ngIf="loginForm.errors"> {{loginForm.errors}} </p>
        </div>

        <div class="flex flex-row items-center justify-between gap-4">
            <label for="Password" class="block text-sm font-medium text-gray-700"> Password: </label>

            <input type="password" id="Password" name="password" placeholder="Enter password"
                class="p-2 w-full rounded-md border border-gray-200 bg-white text-sm w-64 text-gray-700 shadow-sm"
                formControlName="password" required=true />
        </div>

        <button type="submit" [disabled]="!loginForm.valid" [ariaDisabled]="!loginForm.valid"
            class="w-full rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
            Login
        </button>

        <p class="text-red-600 text-sm" *ngIf="!loginForm.valid">**Note: Form is not valid**</p>

    </form>

</section>