<section class="m-4 mx-auto">
    <form class="flex flex-col gap-6 mx-auto w-full items-center">
        <div class="flex flex-row items-center justify-between gap-4">
            <label for="Username" class="block text-sm font-medium text-gray-700"> Username: </label>

            <input type="text" id="Username" name="username" placeholder="Enter username"
                class="w-full p-2 rounded-md border border-gray-200 bg-white text-sm w-64  shadow-sm" />
        </div>

        <div class="flex flex-row items-center justify-between gap-4">
            <label for="Password" class="block text-sm font-medium text-gray-700"> Password: </label>

            <input type="password" id="Password" name="password" placeholder="Enter password"
                class="p-2 w-full rounded-md border border-gray-200 bg-white text-sm w-64 text-gray-700 shadow-sm" />
        </div>

        <button
            class="w-full rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
            Login
        </button>

    </form>

</section>