<div class="h-2 bg-blue-700"></div>

<div>
    <router-outlet></router-outlet>
</div>

<div class="p-2 bg-blue-50 text-center flex flex-row space-4 justify-around items-center fixed bottom-0 w-full">
    <div class="sm:hidden lg:block">
        <h1 class="text-gray-800"> {{title}} </h1>
    </div>

    <div class="text-sm">Made with ❤️ by <a class="text-blue-600 link" href="https://github.com/sounishnath003"
            target="_blank">Sounish Nath</a>
        using Angular, Golang, Postgresql, Google Kubernetes Engine 🚀.</div>
</div>