<div class="flex flex-col m-auto justify-center items-center gap-4 p-3 mx-auto max-w-xl border rounded-lg mt-5">
    <div>
        <h1 class="text-blue-700 text-xl"> Welcome to Blogs App 🦑 - Experience certainity </h1>
    </div>
    <div> <router-outlet></router-outlet> </div>
    <div class="text-gray-600">
        <p> Do not have an account ? <a routerLink="signup" class="hover:text-blue-600 underline">Signup</a> or <a
                routerLink="login" class="hover:text-blue-600 underline">Login</a> </p>
    </div>
</div>